#root {
    width: 100vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    color: white;
    background-color: #040714;
    min-height: 100vh;
    box-sizing: border-box;
}

.app-container {
    min-height: 100vh;
    animation: fadeSlide var(--easing-standard) both;
    transition: all 0.5s var(--easing);
    position: relative;
    overflow: hidden;
}

.row-container{
    opacity: 1;
    transform: translateY(0);
    animation: fadeSlide var(--easing-standard) both;
    transition: all 0.5s var(--easing);
}

.row-container.blurred {
    filter: blur(8px);
    transition: filter 0.5s ease-in-out;

}